<div class="container">
    <h2 style="text-align: center; padding: 6px; font-family: 'Archivo', sans-serif;">Request more Product Inventory</h2>

    <div class="SendRequestArea">

        
        
            
            <div class="row" *ngFor="let product of products">

                <form #productQuantityRef="ngForm">
                    <div class="col" style="margin-top:20px">
                        <span>{{product.id}}</span>
                    </div>
                
                    <div class="col" style="margin-top:20px">
                        {{product.quantity}}
                    </div>
                    <div class="col" style="margin-top:20px">
                        $&nbsp;{{product.price}}
                    </div>

                    <div class="col">
                        <div class="form-floating mb-3 itemInput">
                            <input type="number" class="form-control" name="quantity"  id="floatingInput" ngModel>
                            <label for="floatingInput">Update Quantity here</label>
                        
                        </div> 
                    </div> 
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary" type="button" (click)="addProductRequest(productQuantityRef.value,product.id)">Add</button>
                        <button class="btn btn-primary" type="button" (click)="deleteProductRequest(productQuantityRef.value,product.id)">Delete</button>
                    </div>
                    <hr>
                </form>
            </div>
        
    </div>
</div>