<div class="container">
    <h2 style="text-align: center; padding: 6px;">Request more Product Inventory</h2>

    <div class="SendRequestArea">
        <table style="width:100%;">
            <thead>

            </thead>
            <tbody>
                <div *ngFor="let product of products">
                    <form #productQuantityRef="ngForm">
                        <tr>
                            <td style="width:17%;">{{product.id}}</td>
                            <td style="width:17%;">{{product.quantity}}</td>
                            <td style="width:17%;">{{product.price}}</td>
                            <td style="width:17%;">
                                <div class="form-floating itemInput">
                                    <input type="number" class="form-control" name="quantity"  id="floatingInput" ngModel>
                                    <label for="floatingInput">Quantity</label>
                                </div> 
                            </td>
                            <td style="width:17%;">
                                <div class="">
                                    <button class="btn btn-primary sr_btn" type="button" (click)="addProductRequest(productQuantityRef.value,product.id)">Add</button>
                                    <button class="btn btn-primary sr_btn" type="button" (click)="deleteProductRequest(productQuantityRef.value,product.id)">Delete</button>
                                </div>
                            </td>
                        </tr>
                    </form>
                </div>
            </tbody>
        </table>

            <!-- <div class="row" *ngFor="let product of products">

                <form #productQuantityRef="ngForm">
                    <div class="col" style="margin-top:20px">
                        <span>{{product.id}}</span>
                    </div>
                
                    <div class="col" style="margin-top:20px">
                        {{product.quantity}}
                    </div>
                    <div class="col" style="margin-top:20px">
                        $&nbsp;{{product.price}}
                    </div>

                    <div class="col">
                        <div class="form-floating mb-3 itemInput">
                            <input type="number" class="form-control" name="quantity"  id="floatingInput" ngModel>
                            <label for="floatingInput">Update Quantity here</label>
                        
                        </div> 
                    </div> 
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary" type="button" (click)="addProductRequest(productQuantityRef.value,product.id)">Add</button>
                        <button class="btn btn-primary" type="button" (click)="deleteProductRequest(productQuantityRef.value,product.id)">Delete</button>
                    </div>
                    <hr>
                </form>
            </div> -->
        
    </div>
</div>