br {
    content: '\A';
    display: contents;
    white-space: pre;
  }

.logoutArea{
}

#removeBtn, #addBtn {
  float: right;
}

button:active {
  /* background-color: #3e8e41;
  box-shadow: 0 5px #666; */
  transform: translateY(4px);
}

button{
  margin: 2px 2px;

}